::ng-deep .carousel {
  max-height: 100vh !important;
  overflow: hidden;
}
::ng-deep .carousel .carousel-indicators li {
  width: 5px !important;
  height: 10px !important;
  border-radius: 40% !important;
}
::ng-deep .carousel .carousel-indicators {
  z-index: 999 !important;
}
::ng-deep .carousel .carousel-indicators .active {
  height: 17px !important;
  background-color: #fea30f;
}
.carousel-caption {
  // background-color: rgba($color: #0000, $alpha: 0.9);
  padding: 0;
  margin: 0;
  bottom: 0;
  top: 30%;
}
.rgba-black-slight {
  top: 0;
  left: 0;
  // background-color: rgba($color: #262524, $alpha: 0.3);
  color: #fff;
}
.animate__animated.animate__slideInUp {
  // --animate-duration: 800ms;
  --animate-delay: 1.2s !important;
}
.wel-copation {
  color: #fff;
  font-size: 5vw;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.venue-main-holder {
  width: 65%;
  background-color: rgba($color: #262524, $alpha: 0.5);
  border-radius: 20px;
  color: #fff;
}
.timer-main-holder {
  width: 65%;
  background-color: rgba($color: #262524, $alpha: 0.5);
  border-radius: 20px;
  color: #fff;
}

.time-header {
  font-size: 3.5vw;
  line-height: 1.1;
  text-shadow: 2px 2px 3px rgba($color: #000, $alpha: 0.4);
}
.time-header:first-letter {
  color: #fea30f;
  font-size: 5vw;
  line-height: 1.1;
}
.time-header-two {
  color: #fea30f;
  font-size: 3.5vw;
  line-height: 1.1;
  text-shadow: 2px 2px 3px rgba($color: #000, $alpha: 0.4);
}
.symbol {
  vertical-align: text-top;
}
.con-name {
  color: #fea30f;
  font-size: 2vw;
  font-weight: bold;
  line-height: 1.1;
  text-shadow: 2px 2px 3px rgba($color: #000, $alpha: 0.4);
}
.con-name-two {
  color: #fff;
  font-size: 2vw;
  font-weight: bold;
  line-height: 1.1;
  text-shadow: 2px 2px 3px rgba($color: #000, $alpha: 0.4);
}
.con-name-two::first-letter {
  color: #fea30f;
}
.venue {
  font-size: 2.3vw;
  text-shadow: 2px 2px 3px rgba($color: #000, $alpha: 0.4);
  line-height: 1.1;
}
.venue-date {
  font-size: 2.3vw;
}
.venue span:before,
.venue-date span:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 70%;
  background-color: #fea30f;
  left: -15px;
  top: 15%;
  bottom: 15%;
}
.start-in {
  font-size: 1.5vw;
  color: #fea30f;
}
.timer {
  font-size: 4vw;
  color: #fea30f;
  line-height: 1.1;
}
.timer span {
  color: #eee;
}
.time-divider {
  // font-size: 4vw;
  color: #fea30f !important;
}
.timer span small {
  font-size: 1vw;
  color: #fea30f;
}
.overlay {
  background-color: rgba($color: #262524, $alpha: 0.8) !important;
}
.patronage {
  background-color: rgba($color: #000, $alpha: 0.5);
}
.patronage h1 {
  font-size: 3vw !important;
}
@media screen and (max-width: 992px) {
  .carousel {
    height: auto !important;
  }
}
@media screen and (max-width: 700px) {
  ::ng-deep .carousel .carousel-indicators {
    display: none !important;
    visibility: hidden !important;
  }
  .timer-main-holder {
    width: 80%;
  }
  .venue-main-holder {
    width: 80%;
  }
  .timer-main-holder .start-in {
    margin: 0px;
    padding-bottom: 2px;
  }
  .timer-main-holder .con-name {
    margin: 0px 0px 5px;
  }
  .con-name-two {
    margin: 0px 0px 5px;
  }
  .timer-main-holder .timer {
    padding-top: 0px;
    margin-top: 0px;
    margin: 0px !important;
  }
}
@media screen and (max-width: 767.5px) {
  .carousel {
    margin-top: 70px;
  }
  .carousel-caption {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    bottom: 0 !important;
    top: 10% !important;
  }
  .time-header {
    font-size: 4vw;
  }
  .venue-main-holder .con-name {
    font-size: 3vw !important;
  }
  .venue {
    font-size: 2.8vw;
  }
  .time-header-two {
    font-size: 4.5vw !important;
    // font-weight: bold;
    margin-bottom: 3px !important;
  }
  .con-name-two {
    font-size: 4vw !important;
    font-weight: normal !important;
  }
  .start-in {
    font-size: 2vw;
  }
}
@media screen and (max-width: 400px) {
  .timer-main-holder {
    width: 85%;
  }
  .venue-main-holder {
    width: 85%;
  }
  .timer-main-holder .con-name {
    margin: 0px 0px 0px;
  }
  .con-name-two {
    margin: 0px 0px 0px;
  }
}
@media screen and (max-width: 320px) {
  .carousel-caption {
    top: 10% !important;
  }
}
