<div class="position-relative">
    <div class="w-100 h-100 p-0 m-0 position-relative d-flex carousel-holder">
        <mdb-carousel class=" carousel slide " [animation]="'slide'" [interval]="3500" [noPause]="true">
            <mdb-carousel-item>
                <div class="view w-100">
                    <img class="d-block w-100" src="../../../../assets/imgs/theme-logo.png" alt="Third slide">
                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view w-100">
                    <img class="d-block w-100" src="../../../../assets/imgs/hurgarda.jpg" alt="Third slide">
                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                </div>
                <div class="carousel-caption">
                    <div
                        class="mx-auto my-auto venue-main-holder text-center py-3 animate__animated animate__slideInDown">
                        <h1 class="time-header">
                            4<small class="symbol">th</small> IAAH MENA REGION
                            <br>
                            <small><small>
                                    ADOLESCENT HEALTH CONFERENCE
                                </small>
                            </small>
                        </h1>
                        <h2 class="con-name h2-responsive">
                            Adolescent care, Leaving no one behind
                        </h2>
                        <h4 class="venue">
                            <span class="position-relative ml-3">
                                {{ conferenceDate | date}}
                            </span>
                            <span class="position-relative ml-3">
                                Hurghada, Red Sea
                            </span>
                            <Span class="position-relative ml-3">
                                Egypt
                            </Span>
                        </h4>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view w-100">
                    <img class="d-block w-100" src="../../../../assets/imgs/chairs.png" alt="Third slide">
                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                </div>
                <div class="carousel-caption">
                    <div
                        class="mx-auto my-auto timer-main-holder text-center pt-3 pb-1 animate__animated animate__slideInDown">
                        <h1 class="time-header">
                            4<small class="symbol">th</small> IAAH MENA REGION
                            <br>
                            <small><small>
                                    ADOLESCENT HEALTH CONFERENCE
                                </small>
                            </small>
                        </h1>
                        <h2 class="con-name h2-responsive">
                            Adolescent care, Leaving no one behind
                        </h2>
                        <p class="start-in">
                            Strats In :
                        </p>
                        <h1 class="pb-0 mb-0 timer">
                            <span class="d-inline-block ">
                                <span class="d-block py-0 my-0 pl-3">
                                    <span id="days"></span>
                                    <span class="time-divider">:</span>
                                </span>
                                <small class="d-block my-0">Days</small>
                            </span>
                            <span class="d-inline-block ">
                                <span class="d-block py-0 my-0 pl-3">
                                    <span id="hours"></span>
                                    <span class="time-divider">:</span>
                                </span>

                                <small class="d-block my-0">Hours</small>
                            </span>
                            <span class="d-inline-block ">
                                <span class="d-block py-0 my-0 pl-3">
                                    <span id="mins"></span>
                                </span>
                                <small class="d-block  my-0">Minutes</small>
                            </span>
                        </h1>
                        <h2>
                            <span id="end" class=" pb-0 mb-0 timer"></span>
                        </h2>
                    </div>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
    <!-- <div class="w-100 h-100 position-absolute overlay">
        <div class="w-100 h-100 d-flex pt-2">
            <div class="p-0 mx-auto my-auto timer-main-holder text-center py-3" data-aos="fade-up">
                <h1 class="time-header">
                    4<small class="symbol">th</small> IAAH MENA REGION
                    <br>
                    <small><small>
                            ADOLESCENT HEALTH CONFERENCE
                        </small>
                    </small>
                </h1>
                <p class="start-in">
                    Strats In :
                </p>
                <h4 class="venue-date">
                    <span class="position-relative ml-4">
                        {{ conferenceDate | date}}
                    </span>
                    <span class="position-relative ml-4">
                        Hurghada, Red Sea
                    </span>
                    <Span class="position-relative ml-4">
                        Egypt
                    </Span>
                </h4>
                <h1 class="pt-3 pb-0 mb-0 timer">
                    <span class="d-inline-block pt-3 ">
                        <span class="d-block py-0 my-0 pl-3">
                            <span id="days"></span>
                            <span class="time-divider">:</span>
                        </span>
                        <small class="d-block pt-2 my-0">Days</small>
                    </span>
                    <span class="d-inline-block pt-3 ">
                        <span class="d-block py-0 my-0 pl-3">
                            <span id="hours"></span>
                            <span class="time-divider">:</span>
                        </span>

                        <small class="d-block pt-2  my-0">Hours</small>
                    </span>
                    <span class="d-inline-block pt-3 ">
                        <span class="d-block py-0 my-0 pl-3">
                            <span id="mins"></span>
                            < </span>
                                <small class="d-block pt-2 my-0">Minutes</small>
                        </span>

                </h1>
                <h1>
                    <span id="end"></span>
                </h1>
                <h2 id="end" class="pt-2 pb-0 mb-0 timer"></h2>
            </div>
        </div>
    </div> -->
</div>