<div class="theme-container">
    <div class="container pt-3 pb-5 px-4">
        <h1 class="position-relative title text-center pt-5 text-uppercase" data-aos="zoom-in-up">
            Marhaba !
        </h1>
        <div class="row justify-content-center align-items-center align-content-center">
            <div class="col-1 left-border mx-0">
            </div>
            <div class="col-1 px-0 mx-0 flex-column divider-img">
                <img src="../../../../assets/svg/logo_no_text_light2.svg" class=" mx-0 px-0" alt="">
            </div>
            <div class="col-1 left-border mx-0">
            </div>
        </div>
        <div class="py-4" data-aos="fade-left">
            <h2 class="text-light">
                This word is used in the Middle East and North Africa (MENA) to welcome guests and friends. It conveys a
                sincere welcome
                and warm hospitality. I couldn’t find a better word to use to welcome you all to Egypt for the 4th IAAH
                MENA region
                adolescents’ health conference to be held in-person December 7th-9th, 2021.
                The MENA region has recently witnessed accelerating and evolving interest and action aimed at promoting
                the health,
                development and welfare of the 106 million adolescents we are gifted with in the region.
                During 2014, the region celebrated the establishment of the Arab Coalition for Adolescent Health &
                Medicine (ACAHM);
                currently having representatives from 20 (out of 22) Arab countries. Then the IAAH MENA region was
                established in 2016
                and publicized during the first adolescent health conference held in Cairo in May 2017. The conference
                was a major
                scientific event that brought 220 high caliber professionals from 26 countries and 12 International
                organizations under
                one roof. The second conference was held in Muscat (2018) and the third in Amman (2018), just before Mr.
                Covid knocked
                on our doors. This unwelcome guest prevented the region from holding the conference in 2020.
                However, the Arab Coalition has decided to hold the fourth conference in the most refreshing, relaxing
                and enjoyable Red
                Sea city of Hurghada. This city has been the least affected city in the country by the pandemic due to
                the adoption of
                consistent strict preventive measures. A dedicated “safety” committee will be advising and working
                alongside the
                organizing committee to ensure a safe and healthy environment for all conference participants.
                Hurghada promises to provide you with plenty of sunshine, sea and white sandy beaches, the three S’s
                that tourists look
                for. However, we also promise you two additional S’s; a rewarding and memorable scientific and social
                experience. We
                shall strive to make it an opulent scientific event where you will be meeting old friends and making
                many new ones as
                well.
                “Adolescents’ care; leaving no one behind” is the slogan for this three-day conference. These aren’t
                just words. This is
                a reality. Responding to the needs and rights of ALL young people in a holistic manner is a basic human
                right and will
                no doubt promote their health, development and well-being, as well as protect them from dangers and
                diseases. Young
                adults are the future as much as they are the present.
                We are looking forward to hosting you during this important and informative meeting so that I welcome
                everyone with a
                warm and enthusiastic <span class="marhaba">
                    “Marhaba!”.
                </span>
            </h2>
            <h1>
                <span class="auther d-block py-1">
                    Mamdouh Wahba
                    <span>
                        <img src="../../../../assets/svg/logo_no_text_light2.svg" class="divider-img mx-0 px-0" alt="">
                    </span>
                </span>
                <span class="text-muted d-block py-1">
                    - Vice-President, IAAH MENA region
                </span>
                <span class="text-muted d-block py-1">
                    - President, ACAHM
                </span>
            </h1>
        </div>
    </div>
</div>