<!-- <div class="p-0 m-0 w-100 h-100 main-container" #navbarContainer id="navbarContainer" (scroll)="divScroll($event)"> -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top pt-2 bg-transparent justify-content-center" #navbar
    id="navbar">
    <div class="container justify-content-between nav-holder">
        <a class="navbar-brand p-0" href="#">
            <img src="../../../assets/svg/logo_part_text.svg" alt="" class="logo">
        </a>
        <button class="navbar-toggler" (click)="toggleNavbar()" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color: #fea30f;"></span>
        </button>

        <div class="collapse navbar-collapse w-100 justify-content-end" id="navbarNav"
            [ngbCollapse]="isNavbarCollapsed">
            <ul class="navbar-nav d-flex navigation my-auto" role="navigation">
                <li class="nav-item position-relative px-2">
                    <a du-smooth-scroll du-scrollspy class="nav-link active" href="#home">
                        Home
                        <!-- <span class="sr-only">(current)</span> -->
                    </a>
                </li>
                <li class="nav-item position-relative px-2">
                    <a du-smooth-scroll du-scrollspy class="nav-link" href="#theme">
                        Themes
                    </a>
                </li>
                <li class="nav-item position-relative px-2">
                    <a du-smooth-scroll du-scrollspy class="nav-link" href="#schedule">
                        Schedule
                    </a>
                </li>
                <li class="nav-item position-relative px-2">
                    <a du-smooth-scroll du-scrollspy class="nav-link" href="#speakers">
                        Speakers
                    </a>
                </li>
                <li class="nav-item position-relative px-0 mx-0 ticket-item">
                    <a du-smooth-scroll du-scrollspy class="nav-link ticket-link py-3" href="#tickets">
                        Buy Ticket
                        <!-- <i class="fa fa-angle-down text-white" aria-hidden="true"></i> -->
                    </a>

                </li>
                <li class="nav-item position-relative px-2">
                    <a du-smooth-scroll du-scrollspy class="nav-link" href="#contact">
                        General Info
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- <app-home id="home"></app-home>
    <app-themes id="theme"></app-themes>
    <app-schedule id="schedule"></app-schedule>
    <app-speakers id="speakers"></app-speakers>
    <app-tickets id="tickets"></app-tickets> -->
<!-- </div> -->