<!-- <div class="p-0 m-0 w-100 h-100 main-container" #navbarContainer id="navbarContainer" (scroll)="divScroll($event)"> -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-transparent justify-content-center" #navbar id="navbar">
    <div class="container my-auto justify-content-between nav-holder">
        <a class="logo-holder" href="#">
            <img src="../../../assets/svg/logo_part_text.svg" alt="" class="logo ">
        </a>
        <button class="navbar-toggler" (click)="toggleNavbar()" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color: #fea30f;"></span>
        </button>
        <div class="collapse navbar-collapse w-100 " id="navbarNav" [ngbCollapse]="isNavbarCollapsed">
            <ul class="navbar-nav d-flex navigation my-auto" role="navigation">
                <li class="nav-item position-relative h-50 px-2">
                    <a du-smooth-scroll du-scrollspy class="nav-link active" href="#home">
                        Home
                    </a>
                </li>
                <li class="nav-item position-relative h-50 px-2">
                    <a du-smooth-scroll du-scrollspy class="nav-link" href="#welcome">
                        Welcome
                    </a>
                </li>
                <li class="nav-item position-relative h-50 px-2">
                    <a du-smooth-scroll du-scrollspy class="nav-link" href="#theme">
                        Theme
                    </a>
                </li>
                <li class="nav-item position-relative h-50 px-2">
                    <a du-smooth-scroll du-scrollspy class="nav-link" href="#speakers">
                        Committees
                    </a>
                </li>
                <li class="nav-item position-relative h-50 px-2">
                    <a du-smooth-scroll du-scrollspy class="nav-link" href="#contact">
                        General Info
                    </a>
                </li>
                <li class="nav-item position-relative h-50 px-2">
                    <a du-smooth-scroll du-scrollspy class="nav-link" href="#schedule">
                        SCIENTIFIC PROGRAM
                    </a>
                </li>
                <li class="nav-item position-relative h-50 px-2">
                    <a du-smooth-scroll du-scrollspy class="nav-link" href="#partners">
                        partners & sponsors
                    </a>
                </li>
                <li class="nav-item position-relative mx-3 ticket-item ">
                    <a du-smooth-scroll du-scrollspy class="nav-link ticket-link " href="#abstract">
                        submit abstract
                    </a>
                </li>
                <li class="nav-item position-relative mx-3 ticket-item ">
                    <a du-smooth-scroll du-scrollspy class="nav-link ticket-link " href="#fees">
                        REGISTRATION
                        <!-- <i class="fa fa-angle-down text-white" aria-hidden="true"></i> -->
                    </a>
                </li>
                <li class="nav-item position-relative mx-3 ticket-item ">
                    <a du-smooth-scroll du-scrollspy class="nav-link ticket-link " href="#accomodation">
                        Accommodation
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!-- <app-home id="home"></app-home>
    <app-themes id="theme"></app-themes>
    <app-schedule id="schedule"></app-schedule>
    <app-speakers id="speakers"></app-speakers>
    <app-tickets id="tickets"></app-tickets> -->
<!-- </div> -->