<div class="contact-container py-0 px-0 m-0 text-center w-100 h-100 justify-content-center">
    <div class="w-100 h-100 pt-5 px-0 mx-0 justify-content-center">
        <div class="pt-5 pb-5 m-0">
            <h1 class="title text-uppercase" data-aos="zoom-in-up">
                CALL FOR PAPERS
            </h1>
            <div class="row justify-content-center align-items-center align-content-center">
                <div class="col-1 left-border mx-0">
                </div>
                <div class="col-1 px-0 mx-0 flex-column divider-img">
                    <img src="../../../../assets/svg/logo_no_text-dark.svg" class=" mx-0 px-0" alt="">
                </div>
                <div class="col-1 left-border mx-0">
                </div>
            </div>
            <div class="container pt-3 text-left" data-aos="fade-up">
                <h2>
                    The Scientific Committee of the conference is inviting researchers, practitioners and academia from
                    all over the world
                    who are working or interested in the field of adolescent health, development and well-being to
                    present their work during
                    the conference.
                    The committee encourages early career healthcare providers from the MENA region as well as Medical
                    and Nursing students
                    to submit their studies for possible presentation.
                    Presentations could be in the form of oral presentations; workshops, debates or panel discussions.
                    They could be
                    finalized studies and research, reviews or programmatic reports.
                    All submitted papers should be discussing relevant matters to the conference themes focusing on care
                    of marginalized and
                    disadvantaged adolescents as well as other issues related to equality.
                    Suggestions for workshops, debates or panel discussions should be negotiated with the Chairperson of
                    the Scientific
                    Committee.
                </h2>
                <div class="pl-2 pr-1 pt-3" data-aos="fade-left">
                    <h1 class="text-uppercase sub-title">
                        An abstract should be submitted for papers to be considered for oral presentation
                    </h1>
                    <div class="row w-100 p-0 m-0">
                        <div class="col-md-6">
                            <div class="w-100 h-100 p-0 m-0">
                                <ul class="list-unstyled">
                                    <li class="position-relative pl-4 pb-2" *ngFor="let ab of abstract ">
                                        <h2 class="commitee">
                                            <span class="d-block py-0 my-0">
                                                {{ab.name}}
                                            </span>
                                            <small class="d-block py-0 my-0">
                                                {{ab.title}}
                                            </small>
                                        </h2>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="w-100 h-100 p-0 m-0">
                                <ul class="list-unstyled">
                                    <li class="position-relative pl-4 pb-2" *ngFor="let ab of abstract_right ">
                                        <h2 class="commitee">
                                            <span class="d-block py-0 my-0">
                                                {{ab.name}}
                                            </span>
                                            <small class="d-block py-0 my-0">
                                                {{ab.title}}
                                            </small>
                                        </h2>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h1 class="text-uppercase sub-title">
                        REMEMBER :
                    </h1>
                    <ul class="list-unstyled pl-3">
                        <li class="position-relative pl-4">
                            <h2 class="commitee">
                                Last date to submit an abstract July 31st, 2021
                            </h2>
                        </li>
                        <li class="position-relative pl-4">
                            <h2 class="commitee">
                                Authors of accepted papers must register by August 31st, 2021
                            </h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>