<div class="tickets-container py-5 w-100">
    <div class="contain mx-auto">
        <div class="text-center pt-5">
            <h1 class="title text-uppercase" data-aos="zoom-in-up">
                Registration
            </h1>
            <div class="row justify-content-center align-items-center align-content-center">
                <div class="col-1 left-border mx-0">
                </div>
                <div class="col-1 px-0 mx-0 flex-column divider-img">
                    <img src="../../../../assets/svg/logo_no_text_light2.svg" class=" mx-0 px-0" alt="">
                </div>
                <div class="col-1 left-border mx-0">
                </div>
            </div>
            <h2 class="tickets-desc mb-0 mt-2">
                Participants are kindly requested to register through the online registration form
            </h2>
        </div>
        <div class="row w-100">
            <div class="col-12">
                <div class="w-100 h-100 px-4 py-3 text-center">
                    <h1 class="international-title mb-0">
                        Registration Fees
                    </h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center m-0 p-0">
            <div class="col-12 m-0 p-0">
                <div class="w-100 h-100 px-0 mx-0">
                    <div class="w-100 h-100 px-0 mx-0 ">
                        <table class="table w-75 table-responsive-md mx-auto table-bg " data-aos="fade-right">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-uppercase">
                                        <h1 class=" pl-2">
                                            CATEGORY
                                        </h1>
                                    </th>
                                    <th scope="col" class="text-uppercase">
                                        <h1 class="my-0">
                                            Before
                                            <span class="d-block" style="color:#fea30f;">
                                                August 31, 2021
                                            </span>
                                        </h1>
                                    </th>
                                    <th scope="col" class="text-uppercase">
                                        <h1 class="my-0">
                                            Before
                                            <span class="d-block" style="color:#fea30f;">
                                                Nov. 30, 2021
                                            </span>
                                        </h1>
                                    </th>
                                    <th scope="col" class="text-uppercase">
                                        <h1 class="my-0" style="color:#fff;">
                                            On-site
                                            <span class="d-block">
                                                registration
                                            </span>
                                        </h1>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of tickets_interational">
                                    <td>
                                        <h3 class="my-0 pl-2">
                                            {{item.guest}}
                                        </h3>
                                    </td>
                                    <td>
                                        <h3 class="my-0">
                                            <span style="color: #fea30f;" class="px-1">
                                                {{item.currency}}
                                            </span>
                                            {{item.amount}}
                                        </h3>
                                    </td>
                                    <td>
                                        <h3 class="my-0">
                                            <span style="color: #fea30f;" class="px-1">
                                                {{item.currency}}
                                            </span>
                                            {{item.amount_after}}
                                        </h3>
                                    </td>
                                    <td>
                                        <h3 class="my-0">
                                            <span style="color: #fea30f;" class="px-1">
                                                {{item.currency}}
                                            </span>
                                            {{item.amount_site}}
                                        </h3>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="account-data w-75 mx-auto mt-4 pb-4">
                    <h1 class="text-center">
                        Fees should be payed by bank transfer to :
                    </h1>
                    <h2 class="mt-1 mb-0">
                        <span class="px-2">
                            Bank Name :
                        </span>
                        <span class="text-light" style="color: #ddd;">
                            Emirates NBD Bank
                        </span>
                    </h2>
                    <h2 class="mt-1 mb-0">
                        <span class="px-2">
                            Account Holder :
                        </span>
                        <span class="text-light" style="color: #ddd;">
                            A&E
                        </span>
                    </h2>
                    <h2 class="mt-1 mb-0">
                        <span class="px-2">
                            Account Number :
                        </span>
                        <span class="text-light" style="color: #ddd;">
                            1019209662001
                        </span>
                    </h2>
                    <h2 class="mt-1 mb-0">
                        <span class="px-2">
                            IBAN :
                        </span>
                        <span class="text-light" style="color: #ddd;">
                            EG730014003800001019209662001
                        </span>
                    </h2>
                </div>
            </div>

        </div>
        <!-- <div class=" row pt-2 px-4 justify-content-center align-content-center">
                                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mt-4"
                                                    *ngFor="let ticket of prices_international ; let i = index"
                                                    data-aos="zoom-in" data-aos-duration="400">
                                                    <div class="div">
                                                        <img src="../../../../assets/imgs/ticket-theme.png" alt=""
                                                            style="height: 100%; width: 100%;" class="card-img">
                                                        <div class="ticket-holder card-img-overlay">
                                                            <div class="row p-0 m-0">
                                                                <div class="col-7 p-0 m-0">
                                                                    <div class="w-100 h-100 p-0 m-0">
                                                                        <h3 class="fourth-title">
                                                                            4<small class="symbol">th</small> IAAH MENA
                                                                            REGION
                                                                            <br>
                                                                            <small><small>
                                                                                    ADOLESCENT HEALTH CONFERENCE
                                                                                </small>
                                                                            </small>
                                                                        </h3>
                                                                        <h5>
                                                                            <span style="color: #fea30f;">
                                                                                From :
                                                                            </span>
                                                                            <span class="text-muted">
                                                                                {{conferenceDate | date : 'mediumDate'}}
                                                                            </span>
                                                                            <br>
                                                                            <span style="color: #fea30f;">
                                                                                To :
                                                                            </span>
                                                                            <span class="text-muted">
                                                                                {{endDate | date : 'mediumDate'}}
                                                                            </span>
                                                                        </h5>
                                                                        <h3 style="font-weight: 500;">
                                                                            {{ticket.guest}}
                                                                        </h3>

                                                                    </div>
                                                                </div>
                                                                <div class="col-5">
                                                                    <div class="h-100 w-100 d-flex text-center px-0">
                                                                        <div class="h-75 my-auto px-0">
                                                                            <h1 class="px-0 mx-0">
                                                                                <span class="cost">
                                                                                    {{ticket.amount}}
                                                                                </span>
                                                                                <span class="dollar">
                                                                                    {{ticket.currency}}
                                                                                </span>
                                                                            </h1>
                                                                            <button class="btn btn-outline-warning"
                                                                                (click)="openDialog(ticket.id)"
                                                                                [disabled]="cantRegiser">
                                                                                Buy Ticket
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                    </div> -->
        <!-- <div class="row w-100">
            <div class="col-12">
                <div class="w-100 h-100 px-4 pt-5 pb-3 text-center">
                    <h1 class="international-title ">
                        Egyptian Participants
                    </h1>
                </div>
            </div>
        </div>
        <div class="row pt-2 px-4 justify-content-center align-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mt-4" *ngFor="let ticket of prices_egy ; let i = index"
                data-aos="zoom-in" data-aos-duration="400">
                <div class="div">
                    <img src="../../../../assets/imgs/ticket-theme.png" alt="" style="height: 100%; width: 100%;"
                        class="card-img">
                    <div class="ticket-holder card-img-overlay">
                        <div class="row p-0 m-0">
                            <div class="col-7 p-0 m-0">
                                <div class="w-100 h-100 p-0 m-0">
                                    <h3 class="fourth-title">
                                        4<small class="symbol">th</small> IAAH MENA REGION
                                        <br>
                                        <small><small>
                                                ADOLESCENT HEALTH CONFERENCE
                                            </small>
                                        </small>
                                    </h3>
                                    <h5>
                                        <span style="color: #fea30f;">
                                            From :
                                        </span>
                                        <span class="text-muted">
                                            {{conferenceDate | date : 'mediumDate'}}
                                        </span>
                                        <br>
                                        <span style="color: #fea30f;">
                                            To :
                                        </span>
                                        <span class="text-muted">
                                            {{endDate | date : 'mediumDate'}}
                                        </span>
                                    </h5>
                                    <h3 style="font-weight: 500;">
                                        {{ticket.guest}}
                                    </h3>

                                </div>
                            </div>
                            <div class="col-5">
                                <div class="h-100 w-100 d-flex text-center px-0">
                                    <div class="h-75 my-auto px-0">
                                        <h1 class="px-0 mx-0">
                                            <span class="cost">
                                                {{ticket.amount}}
                                            </span>
                                            <span class="dollar">
                                                {{ticket.currency}}
                                            </span>
                                        </h1>
                                        <button class="btn btn-outline-warning" (click)="openDialogEgy(ticket.id)"
                                            [disabled]="cantRegiser">
                                            Buy Ticket
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="cancellation-container">
    <div class="container py-5">
        <div class="row py-3">
            <div class="col col-md-6 ">
                <div class="w-100 h-100 py-3 px-3" data-aos="fade-right">
                    <div class=" py-5 px-5 sub-container text-center h-100 w-100">
                        <h1 class="text-uppercase sub-title py-2">
                            The registration package for participants includes :
                        </h1>
                        <ul class="list-unstyled text-left pt-4">
                            <li class="position-relative pl-4 pb-2" *ngFor="let item of packge">
                                <h2 class="commitee">
                                    <span class="d-block py-0 my-0">
                                        {{item.title}}
                                    </span>
                                </h2>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="w-100 h-100 py-3 px-3" data-aos="fade-left">
                    <div class=" py-5 px-5 sub-container text-center h-100 w-100">
                        <h1 class="text-uppercase sub-title py-2">
                            On-site registrations
                        </h1>
                        <h2 class="commitee pt-4">
                            <span class="d-block py-0 my-0">
                                While it will be possible to register on site, we do suggest that
                                participants take
                                advantage of the lower fee (early
                                registration) and convenience of registering in advance. Those registered on
                                site
                                will obtain the certificates of
                                attendance by email within 2 weeks after the conference.
                            </span>
                        </h2>
                        <h2 class="text-uppercase py-2" style="color: #333333; font-weight: 600;">
                            On site register fees
                            <span style="color: #fea30f;" class="px-1">:</span>
                            <span style="color: #444">
                                250$
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="w-100 h-100 d-flex py-4">
                    <button class="btn btn-mine px-4 py-2 mx-auto" (click)="openDialog()" style="font-weight: 600;">
                        Register
                    </button>
                </div>
            </div>
            <div class="col-col-md-12">
                <div class="w-100 h-100 py-3 px-3 ">
                    <div class="py-5 px-54 sub-container text-center h-100 w-100" data-aos="fade-right">
                        <h1 class="text-uppercase sub-title py-2">
                            Cancellation policy
                        </h1>
                        <h2 class="commitee pt-4">
                            <span class="d-block py-0 my-0">
                                All refunds will incur a 20% handling fee. No refunds will be made after
                                October
                                31st, 2021. However, another delegate
                                may be nominated as a replacement, up to two weeks before the conference.
                                Cancellation must be in writing (by letter,
                                fax or email)
                                to the Congress Secretariat. All refunds will be made after the conference.
                                Participants should state the bank details
                                to which refunds should be made.
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>