<h2 mat-dialog-title>Register Now</h2>
<mat-dialog-content class="">
    <form class="example-form px-4" [formGroup]="form" #f="ngForm">
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-12 col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <span>
                            Name Of Participant
                        </span>
                    </mat-label>
                    <input type="text" matInput formControlName="name" placeholder="Enter Your Name">
                    <mat-error *ngIf="form.controls.name.hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-12 col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <span>
                            Name Of Accompanying Person
                        </span>
                    </mat-label>
                    <input type="text" matInput formControlName="Accompanying"
                        placeholder="Enter Accompanying person Full Name">
                </mat-form-field>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-6 col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <span>
                            Nationality
                        </span>
                    </mat-label>
                    <input type="text" matInput formControlName="nationality" placeholder="Enter Your  Nationality">
                    <mat-error *ngIf="form.controls.nationality.hasError('required')">
                        Nationality is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-lg-6 col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <span>
                            Age
                        </span>
                    </mat-label>
                    <input type="number" matInput formControlName="age" placeholder="Enter Your Age">
                </mat-form-field>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-6 col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <span>
                            Rooms Requested
                        </span>
                    </mat-label>
                    <input type="number" matInput formControlName="rooms" placeholder="Enter Number Of Rooms Requested">
                    <mat-error *ngIf="form.controls.rooms.hasError('required')">
                        Number Of Rooms is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-lg-6 col-md-6">
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <span>
                            Room Type
                        </span>
                    </mat-label>
                    <mat-select name="roomType" formControlName="roomType">
                        <mat-option *ngFor="let g of room_type" [value]="g.value">
                            {{g.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.roomType.hasError('required')">
                        RoomType is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-4 col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <span>
                            Expected Arrival Date
                        </span>
                    </mat-label>
                    <input type="date" matInput formControlName="arrivalDate" placeholder="Expected Arrival date">
                </mat-form-field>
            </div>
            <div class="form-group col-lg-4 col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <span>
                            Departure Date
                        </span>
                    </mat-label>
                    <input type="date" matInput formControlName="departure" placeholder="Departure">
                </mat-form-field>
            </div>
            <div class="form-group col-lg-4 col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <span>
                            Number Of Nights
                        </span>
                    </mat-label>
                    <input type="number" matInput formControlName="nights" placeholder="Number Of Nights">
                    <mat-error *ngIf="form.controls.nights.hasError('required')">
                        Number Of Nights is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-12 col-md-12">
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <span>
                            Spcecial Request
                        </span>
                    </mat-label>
                    <input textarea type="text" matInput formControlName="special" placeholder="Spcecial Request">
                </mat-form-field>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <button mat-button cdkFocusInitial mat-raised-button class="btn-success" type="submit"
                (click)="tegister(f)">Register</button>
        </div>
    </form>
    <ul class="list-unstyled py-4">
        <li class="d-block p-0 m-0">
            <h2>
                HOTEL RESERVATION WILL ONLY BE CONFIRMED AFTER TRANSFER THE COST TO :
            </h2>
            <h2 class="my-1">
                <span class="bank px-2">
                    Account Holder :
                </span>
                <small class="text-secondary">
                    A&E
                </small>
            </h2>
            <h2 class="my-1">
                <span class="bank px-2">
                    Account Number :
                </span>
                <small class="text-secondary">
                    1019209662001
                </small>
            </h2>
            <h2 class="my-1">
                <span class="bank px-2">
                    Number Iban :
                </span>
                <small class="text-secondary">
                    EG730014003800001019209662001
                </small>
            </h2>
            <h2 class="my-1">
                <span class="bank px-2">
                    Bank :
                </span>
                <small class="text-secondary">
                    Emirates NBD Egypt
                </small>
            </h2>
        </li>

    </ul>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
</mat-dialog-actions>