<div class="contact-container py-0 px-0 m-0 text-center w-100 h-100 justify-content-center">
    <div class="w-100 h-100 pt-5 px-0 mx-0 justify-content-center">
        <div class="pt-5 pb-5 m-0">
            <h1 class="title text-uppercase" data-aos="zoom-in-up">
                General Info
            </h1>
            <div class="row justify-content-center align-items-center align-content-center">
                <div class="col-1 left-border mx-0">
                </div>
                <div class="col-1 px-0 mx-0 flex-column divider-img">
                    <img src="../../../../assets/svg/logo_no_text-dark.svg" class=" mx-0 px-0" alt="">
                </div>
                <div class="col-1 left-border mx-0">
                </div>
            </div>
        </div>
        <div class="container pb-4" data-aos="fade-right">
            <mat-tab-group dynamicHeight mat-align-tabs="center">
                <mat-tab label="VENUE & DATE">
                    <div class="pt-4 pb-5 px-5 text-left">
                        <h1 class="text-warning pb-0">
                            Venue :
                        </h1>
                        <p class="text-dark text-left venue-date">
                            <span class="position-relative ml-4">
                                Marriott Beach Resort
                            </span>
                            <Span class="position-relative ml-4">
                                Hurghada, Red Sea
                            </Span>
                            <Span class="position-relative ml-4">
                                Egypt
                            </Span>
                        </p>
                        <h3>
                            <span>
                                The hotel is about 5 Km away from
                                Hurghada International Airport. This
                                5 stars hotel has a unique location in the heart of Hurghada and offers
                                “superb”
                                services as rated by trip advisor.
                            </span>
                        </h3>
                        <h1 class="text-warning pb-0 mb-2">
                            Date :
                        </h1>
                        <h3 class="py-0 my-0">
                            <span class="text-muted px-2">
                                From:
                            </span>
                            <span class="text-dark">
                                {{conferenceDate | date : 'long'}}
                            </span>
                        </h3>
                        <h3 class="py-0 my-0">
                            <span class="text-muted px-2">
                                To:
                            </span>
                            <span class="text-dark">
                                {{endDate | date : 'long'}}
                            </span>
                        </h3>
                    </div>
                </mat-tab>
                <mat-tab label="ACCOMMODATION">
                    <div class="pt-4 pb-5 px-5 text-left">
                        <h3>
                            The organizing committee has negotiated a special rate for the conference
                            participants at Marriott Beach Resort,
                            Hurghada where all events will be held:
                            THE RATES ARE ON A SOFT ALL INCLUSIVE BASIS (Food & Soft Drinks)
                        </h3>
                        <p class="py-0 my-0">
                            <span class="d-inline-block text-muted px-2">
                                Single Room :
                            </span>
                            <span class="d-inline-block text-warning">
                                105 US$
                            </span>
                        </p>
                        <p class="py-0 my-0">
                            <span class="d-inline-block text-muted px-2">
                                Double Room :
                            </span>
                            <span class="d-inline-block text-warning">
                                130 US$
                            </span>
                        </p>
                        <h3 class="pt-2">
                            Rates are for a room per night inclusive of all taxes and service charges.
                            The hotel is a sea front 5 stars hotel with “superb” rating at Trip Advisor.
                        </h3>
                        <div class="p-0 m-0 text-right arabic">
                            <h3 class="text-right pb-0 mb-2">
                                أسعار حجز الفندق للمقيمين فى مصر
                            </h3>
                            <p class="py-0 my-0">
                                <span class="d-inline-block text-muted px-2">
                                    غرفة مفردة مطله على البحر
                                </span>
                                <span class="d-inline-block text-warning">
                                    1600 جنيه
                                </span>
                            </p>
                            <p class="py-0 my-0">
                                <span class="d-inline-block text-muted px-2">
                                    غرفة مزدوجه مطله على البحر
                                </span>
                                <span class="d-inline-block text-warning">
                                    1900 جنيه
                                </span>
                            </p>
                            <h3 class="pt-2">
                                الأسعار للمبيت ليلة واحدة والوجبات والمشروبات الغير كحولية شاملة كافة
                                الضرائب
                            </h3>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="DRESS & WEATHER">
                    <div class="pt-4 pb-5 px-5 text-left">
                        <h1 class="text-warning pb-0">
                            Dress :
                        </h1>
                        <h3 class="py-0">
                            Usually casual but you would probably need a jacket for the opening ceremony,
                            not for formality but because of the
                            weather at night.
                        </h3>
                        <h1 class="text-warning pb-0">
                            Weather :
                        </h1>
                        <h3 class="py-0">
                            The weather is usually pleasant in Hurghada during the first half of December.
                            Average day temperature is 20 degrees
                            centigrade and 17 degrees for the evening. Water temperature is said to be 24,
                            so you might risk believe this and swim.
                            It is usually sunny and dry and there is no need to bring your umbrella
                        </h3>
                    </div>
                </mat-tab>
                <mat-tab label="INVITATION LETTERS">
                    <div class="pt-4 pb-5 px-5 text-left">
                        <p class="text-dark pb-0">
                            The organizing committee will issue a letter of invitation upon request and
                            after receipt of registration fees.
                        </p>
                    </div>
                </mat-tab>
                <mat-tab label="CANCELLATION POLICY">
                    <div class="pt-4 pb-5 px-5 text-left">
                        <p class="text-dark pb-0">
                            All refunds will incur a 20% handling fee. No refunds will be made after October
                            31st, 2021. However, another delegate
                            may be nominated as a replacement, up to two weeks before the conference.
                            Cancellation must be in writing (by letter,
                            fax or email) to the Congress Secretariat. All refunds will be made after the
                            conference. Participants should state the
                            bank details to which refunds should be made.
                        </p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <!-- <ul ngbNav #nav="ngbNav" class="nav-tabs mt-3 mx-auto">
                        <li ngbNavItem>
                            <a ngbNavLink class="text-uppercase">VENUE & Date</a>
                            <ng-template ngbNavContent>
                                
                            </ng-template>
                        </li>
                        <li ngbNavItem>
                            <a ngbNavLink>ACCOMMODATION</a>
                            <ng-template ngbNavContent>
                                
                            </ng-template>
                        </li>
                        <li ngbNavItem>
                            <a ngbNavLink>DRESS & WEATHER</a>
                            <ng-template ngbNavContent>
                                
                            </ng-template>
                        </li>
                        <li ngbNavItem>
                            <a ngbNavLink class="text-uppercase">Cancellation Policy</a>
                            <ng-template ngbNavContent>
                             
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="outlet text-left pt-4 pb-4 px-4 mx-0 w-100">
                    </div> -->
    </div>
    <div class="px-0 mx-0">
        <div class="p-0 m-0 w-100" data-aos="fade-left">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>