<div class="p-0 m-0 overflow-hidden " #navbarContainer id="navbarContainer">
    <app-root-nav></app-root-nav>
    <app-home class="section" id="home"></app-home>
    <app-themes class="section" id="theme"></app-themes>
    <app-schedule class="section" id="schedule"></app-schedule>
    <app-speakers class="section" id="speakers"></app-speakers>
    <app-tickets class="section" id="tickets"></app-tickets>
    <app-sponsors></app-sponsors>
    <app-contact class="section" id="contact"></app-contact>
    <!-- <app-registeration></app-registeration> -->
    <app-footer></app-footer>
</div>