<div class="schedule-container">
    <div class="container p-5">
        <div class="position-relative title text-center py-5 text-uppercase">
            <h1 data-aos="zoom-in-up">
                Conference Schedule
            </h1>
            <div class="row justify-content-center align-items-center align-content-center">
                <div class="col-1 left-border mx-0">

                </div>
                <div class="col-1 px-0 mx-0 flex-column divider-img">
                    <img src="../../../../assets/svg/logo_no_text-dark.svg" class=" mx-0 px-0" alt="">
                </div>
                <div class="col-1 left-border mx-0">

                </div>
            </div>
        </div>
        <div class="row pb-5 pt-2">
            <div class="col-12" data-aos="fade-left">
                <div class="row">
                    <div class="col-lg-4 col-md-4 px-0">
                        <div class="bg-date h-100 w-100 d-flex">
                            <h1 class="date pt-4 pb-3 text-center my-auto">
                                {{firstDay | date : 'longDate'}}
                                <small class="d-block">
                                    Tuesday
                                </small>
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 px-0 mx-0">
                        <div class="firts-day-scedule h-100 w-100 py-4 px-4">
                            <h2 class="text-uppercase sc-title">
                                Schedule
                            </h2>
                            <ul class="list-unstyled">
                                <li>
                                    <h3>
                                        <span class="hour px-2 text-muted">
                                            09:00 – 17:00
                                        </span>
                                        <span>
                                            Registration
                                        </span>
                                    </h3>

                                </li>
                                <li>
                                    <h3>
                                        <span class="hour px-2 text-muted">
                                            19:00 – 21:00
                                        </span>
                                        <span>
                                            Opening ceremony
                                        </span>
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        <span class="hour px-2 text-muted">
                                            21:00 – 22:00
                                        </span>
                                        <span>
                                            Reception
                                        </span>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4" data-aos="fade-right">
                <div class="row day-two-row">
                    <div class="col-lg-4 col-md-4 px-0">
                        <div class="bg-date-two d-flex h-100 w-100 ">
                            <h1 class="date-two pt-4 pb-3 text-center my-auto">
                                {{secondDay | date : 'longDate'}}
                                <small class="d-block">
                                    Wednesday
                                </small>
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 px-0 mx-0">
                        <div class="second-day-scedule h-100 w-100 py-4 px-4">
                            <h2 class="text-uppercase sc-two-title">
                                Schedule
                            </h2>
                            <ul class="list-unstyled">
                                <li>
                                    <h3>
                                        <span class="hour px-2 text-two-muted">
                                            09:00 – 17:00
                                        </span>
                                        <span>
                                            Scientific sessions
                                        </span>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4" data-aos="fade-left">
                <div class="row ">
                    <div class="col-lg-4 col-md-4 px-0">
                        <div class="bg-date-three d-flex h-100 w-100 text-center">
                            <h1 class="date-three pt-4 pb-3 text-center my-auto">
                                {{thirdDay | date : 'longDate'}}
                                <small class="d-block">
                                    Thursday
                                </small>
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 px-0 mx-0">
                        <div class="third-day-scedule h-100 w-100 py-4 px-4">
                            <h2 class="text-uppercase sc-three-title">
                                Schedule
                            </h2>
                            <ul class="list-unstyled">
                                <li>
                                    <h3>
                                        <span class="hour px-2 text-three-muted ">
                                            09:00 – 16:30
                                        </span>
                                        <span>
                                            Scientific sessions
                                        </span>
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        <span class="hour px-2 text-three-muted ">
                                            16:30 – 17:00
                                        </span>
                                        <span>
                                            Closing session
                                        </span>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>